body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;

    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    color: black;
}

a:hover {
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    color: black;
}

/* Menu layout */
.nav {
    height: 100%;
    width: 100%;
    box-sizing: content-box;

    background-image: url("../background.jpg");
    background-size: cover;
    background-position: center;

    text-align: center;
    list-style-type: none;

    display: grid;
    place-items: center;
}

.nav-link a {
    color: white;
    border: 0;
}

.nav-link-underline a:link,
.nav-link-underline a:visited {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 3px;
}

.nav-link-underline a:hover {
    border-bottom: 2px solid currentcolor;
}

.nav hr {
    width: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav ul {
    padding: 0;
    list-style-type: none;
}

.nav li {
    padding: 0.5ch;
}

.nav h1 {
    font-family: "Merriweather", serif;
    font-size: 200%;
    margin: 0;
}

.nav-subtitle {
    font-family: "Helvetica", sans-serif;
    color: #D0D0D0;
}

/* Sidebar layout */
.content-container {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .content-container {
        display: grid;
        grid-template-rows: minmax(5ch, 10%) 1fr;
    }

    .sidebar {
        display: none;
    }

    .header {
        background-image: url("../background.jpg");
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template-columns: minmax(1ch, 20vw) 1fr minmax(1ch, 20vw);
        place-items: center;
    }

    .header h1 {
        font-family: "Merriweather", serif;
        color: white;
        font-size: 100%;
    }

    .header a {
        text-decoration: none;
    }

    .hamburger-slice {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }

    .hamburger-container {
        display: block;
    }
}

@media only screen and not (max-width: 1024px) {
    .content-container {
        display: grid;
        grid-template-columns: minmax(40ch, 30%) 1fr;
    }

    .sidebar {
        box-shadow: 3px 0px 20px gray;
    }

    .header {
        display: none;
    }
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-family: "Merriweather", serif;
}

.content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    overflow: auto;
}

.content:after {
    content: "";
    display: block;
    height: 10%;
}

/* Code blocks */
pre {
    padding: 10px;
}

code {
    font-family: "Inconsolata", monospace;
}

/* Tables */
table {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

th {
    padding: 10px;
    background-color: white;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #eee;
}
