body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.nav {
    height: 100%;
    width: 100%;
    box-sizing: content-box;

    background-image: url("../background.jpg");
    background-size: cover;
    background-position: center;

    font-size: 24px;
    text-align: center;
    list-style-type: none;

    display: grid;
    place-items: center;
}

.nav a:link, .nav a:visited {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 3px;
}

.nav a:hover {
    border-bottom: 2px solid currentcolor;
}

.nav hr {
    width: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav ul {
    padding: 0;
    list-style-type: none;
}

.nav li {
    padding: 0.5ch;
}

.nav-title {
    font-family: "Merriweather", serif;
    font-size: 64px;
    text-align: center;
    color: white;
}

.nav-title a {
    border: none !important;
}

.nav-subtitle {
    font-family: "Helvetica", sans-serif;
    color: #D0D0D0;
}

.content-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(150px, 30%) 1fr;
}

.sidebar {
    box-shadow: 3px 0px 20px gray;
}

.content h1 {
    font-family: "Merriweather", serif;
}

.content {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    padding: 10%;
    overflow: auto;
}

.content:after {
    content: "";
    display: block;
    height: 10%;
}
