<!doctype html>

<html lang="{{ .Site.Language.Lang }}">

<head>
    <meta charset="utf-8">

    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Merriweather:wght@900|Inconsolata">

</head>

<body>
    <div class="content-container">
        <div class="sidebar">
        {{ partial "menu.html" . }}
        </div>
        {{ partial "header.html" . }}
        <div class="content">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </div>
    </div>
</body>

</html>
