{{ define "main" }}
{{ if not .CurrentSection.IsHome }}
<div class="small-caps">
    <a href="{{ .CurrentSection.Permalink | relURL }}">{{ .CurrentSection.Title }}</a> / <a href="{{ .Permalink | relURL }}">{{ .Title }}</a>
</div>
{{ end }}
<h1 class="page-title">{{ .Title }}</h1>
{{ if .Page.Date }}
<div class="small-caps">
    {{ if .Site.Params.dateFormat }}
    {{ .Date.Format .Site.Params.dateFormat }}
    {{ else }}
    {{ .Date.Format "1 January 1970" }}
    {{ end }}
</div>
{{ end }}
{{ .Content }}
{{ if not .Site.IsServer }}{{ if .Site.DisqusShortname }}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{ end }}{{ end }}
{{ end }}
