<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Merriweather:wght@900">
    <link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon">
</head>
