<div class="nav">
    <div class="nav-inner">
        <div class="nav-link">
            <a href="{{ .Site.BaseURL }}">
                <img id="logo" src="{{ "logo.png" | relURL }}" />
            </a>
            <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        </div>
        <hr>
        {{ with .Site.Params.subtitle }}
        <div class="nav-subtitle">{{ . }}</div>
        {{ end }}
        <ul>
            {{ range .Site.Menus.main }}
            <li class="nav-link nav-link-underline"><a href="{{ .URL }}" class="nav-link nav-link-underline">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>
